@import './tokens.css';

*:focus {
  outline: 0 !important;
}

.app {
  border: 0;
  margin: 0;
  background-color: var(--color-background-app);
  /* background-color: #b3b3b3; */
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.swal2-container {
  z-index: 999999;
}

sup {
  vertical-align: super;
  font-size: 0.8rem;
}


div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.clipPathLandscape {
  clip-path: xywh(0 0 1100px 768px);
}

.clipPathPortrait {
  clip-path: xywh(0 0 768px 1100px);
}

input {
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
}


@media print{@page {size: landscape}}
