button {
  cursor: pointer;
  background: transparent;
  border: none;
}

button.primary,
button.secondary {
  width: 240px;
  height: 50px;
  background-size: contain;
  border: 0;
  padding: 0;
  border-radius: 8px;
  margin: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.primary {
  background-color: #2c83d4;
  /* box-shadow: 2px 4px 3px #00000022; */
}

.secondary {
  background: transparent;
  /* box-shadow: 2px 4px 3px #00000022; */
}

.tertiary {
    background: transparent;
    background-size: contain;
    border: 0;
    padding: 1px 10px 12px 15px;
    border-radius: 8px;
    margin: 8px 30px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    border: solid 2px #ffcc00;
}

button .small {
  height: 50px;
}

.primary.narrow {
  width: 180px;
}

.primary.green
.left-menu.green {
  background-color: #339900;
}

.primary.bluetrans,
.left-menu.bluetrans {
  margin-top: 50px;
}

.primary.red {
  background-color: #cc0000;
  background: transparent;
  border: 2px #ff6600 solid !important;
  color: #ff6600;
  box-shadow: none;
}

/* --- FILTER --------------------------- */
.close-x {
 color:#fff;
 font-size: 20px;
 /* font-weight: bold; */
}

/* --- FILTER --------------------------- */

.filter {
  background: #ffffffaa;
  padding: 5px 10px;
  margin: 2px 5px;
  font-size: 16px;
  border-radius: 21px;
  line-height: 18px;
}

.filter.active {
  background: #ff9900;
  color: #ffffff;
}

/* --- PHONETIC --------------------------- */

.add-phonetic {
  position: relative;
  /* top: 3px;
  left: -4px; */
  background: #ff9900;
  font-size: 26px;
  padding: 4px 10px;
  border-radius: 0 5px 5px 0;
  /* vertical-align: middle; */
}

.add-phonetic::before {
  content: "ð";
}

.add-phone.large {
  position: relative;
  top: 1px;
  right: 14px;
  font-size: 31px;
}

.phonetic-pot {
  cursor: pointer;
  background: #fff;
  color: #333;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  width: 50px;
  height: 40px;
  margin: 3px;
  padding: 5px;
  font-weight: normal;
  box-shadow: inset 0px 0px 0px 3px #99330000;
}

.phonetic-pot.selected {
  box-shadow: inset 0px 0px 0px 4px #ff9900;
}

.search {
  background: #ffffffaa;
  padding: 10px 20px;
  margin: 2px 5px;
  font-size: 16px;
  border-radius: 6px;
}

