button {
  cursor: pointer;
  background: transparent;
  border: none;
}

button.primary,
button.secondary {
  width: 240px;
  height: 50px;
  background-size: contain;
  padding: 0;
  border-radius: 99px;
  margin: 8px;
  font-size: 16px;
  font-weight: 600;
  /* text-transform: uppercase; */
}

.primary {
  background-color: var(--color-button-primary);
  border: 0;
  color: var(--color-button-primary-text);
  /* box-shadow: 2px 4px 3px #00000022; */
}

.secondary {
  background: transparent;
  border: solid 2px var(--color-button-primary);
  color: var(--color-white);
  /* box-shadow: 2px 4px 3px #00000022; */
}

.tertiary {
    background: transparent;
    background-size: contain;
    border: 0;
    padding: 1px 25px 12px 25px;
    border-radius: 99px;
    margin: 8px 30px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-button-primary-text);
    /* text-transform: uppercase; */
    border: solid 2px var(--color-button-tertiary);
}

.link {
  font-size: 16px;
  background: transparent;
  color: var(--color-button-link);
  text-decoration: underline;
}

button .small {
  height: 50px;
}

.primary.narrow {
  width: 180px;
}

.primary.green
.left-menu.green {
  background-color: var(--color-button-green-bg);
}

.primary.bluetrans,
.left-menu.bluetrans {
  margin-top: 50px;
}

.primary.red {
  background-color: var(--color-button-red-bg);
  background: transparent;
  border: 2px var(--color-button-red-border) solid !important;
  color: var(--color-button-red-text);
  box-shadow: none;
}

.primary.green {
  background-color: var(--color-button-green-bg);
  color: var(--color-button-green-text);
}

/* --- FILTER --------------------------- */
.close-x {
 color:#fff;
 font-size: 20px;
 /* font-weight: bold; */
}

/* --- FILTER --------------------------- */

.filter {
  background: var(--color-background-white-semi);
  padding: 5px 10px;
  margin: 2px 5px;
  font-size: 16px;
  border-radius: 21px;
  line-height: 18px;
}

.filter.active {
  background: var(--color-state-active);
  color: var(--color-white);
}

/* --- PHONETIC --------------------------- */

.add-phonetic {
  position: relative;
  /* top: 3px;
  left: -4px; */
  background: var(--color-ui-phonetic);
  font-size: 26px;
  padding: 4px 10px;
  border-radius: 0 5px 5px 0;
  /* vertical-align: middle; */
}

.add-phonetic::before {
  content: "ð";
}

.add-phone.large {
  position: relative;
  top: 1px;
  right: 14px;
  font-size: 31px;
}

.phonetic-pot {
  cursor: pointer;
  background: var(--color-ui-phonetic-pot);
  color: var(--color-ui-phonetic-pot-text);
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  width: 50px;
  height: 40px;
  margin: 3px;
  padding: 5px;
  font-weight: normal;
  box-shadow: inset 0px 0px 0px 3px transparent;
}

.phonetic-pot.selected {
  box-shadow: inset 0px 0px 0px 4px var(--color-state-selected);
}

.search {
  background: var(--color-background-white-semi);
  padding: 10px 20px;
  margin: 2px 5px;
  font-size: 16px;
  border-radius: 6px;
}

