.menu-container {
    position: absolute;
    left: 50px;
    top: 30px;
}

.menutab {
  position: absolute;
  left: 0;
  top: 60px;
  width: 40px;
  height: 100px !important;
  border-radius: 0 10px 9px 0 !important;
  cursor: pointer;
  background: transparent;
  background-size: contain;
  background-color: #2c83d4;
  border: 0;
  margin: 12px 0;
  color: #fff;
  padding: 0px;
  box-shadow: 2px 4px 3px #00000022;
}

.menutab img {
  width:25px;
  height:25px;
  padding-top:5px;
}
.menu-hidden .menutab {
  display: block;
}


.bg-panel {
  background-color: #012457CC;
  /* background-image: linear-gradient(to right, #01245733 , #01245700); */
  height: 100%;
  width: 360px;
  position: absolute;
}