::-webkit-scrollbar {
  width: 24px;
}

::-webkit-scrollbar-track {
  background: #ddd; 
  border-radius: 99px;
}
  
::-webkit-scrollbar-thumb {
  background: #0F6ACB;  
  border-radius: 99px;
  border:2px solid #ddd;
  height: 26px;
}

