
.menu-container {
  position: absolute;
  background-color: var(--color-background-menu);
  top: 50px;
  color: var(--color-text-primary);
  font-size: 18px;
  box-sizing: border-box;
  height: 100%;
}

.left-menu {
  display: block;
  width: 50px;
  min-height: 35px;
  max-height: 50px;
  background: transparent;
  background-size: contain;
  background-color: var(--color-white);
  border: 0;
  padding: 0;
  border-radius: 99px;
  margin: 0px 8px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text-inverse);
  text-transform: uppercase;
}

.left-menu img {
  width:46px;
}

.left-menu-label {
  position: absolute;
  background: var(--color-ui-toolbar-label);
  color: var(--color-text-inverse);
  font-weight: bold;
  font-size: 14px;
  padding: 8px 12px;
  margin-left: 60px;
  margin-top: 8px;
  border-radius:8px;
  white-space: nowrap;
}
